body{padding: 0px; margin: 0px; border: 0px; background: #4CB5F5;}

#banner, #container, footer{
	text-align: center;
	font-family: 'Pangolin', monospace;
	font-size: 22px;
	overflow: auto;
}
header{
	z-index: 1000;
	position: absolute;
	width: 100%;
	font-size: 45px;
}
#container{
	max-width: 1200px;
	width: 75%;
	background-color: lightgrey;
	color: black;
	margin: 0 auto;
}

#container div{
	overflow: auto;
}

#banner{
    width: 100%;
	 margin: 0;
	 padding: 0;
	background-color: #aaa;
	 
}
img{
	width: 100%;
	margin: 0;
	padding: 0;
}
.info{
	position: absolute;
	margin: 17% 65% 0% 10%;
}

footer{
	width: 100%;
	background: url(image/footer.png);
	padding: 8px 0px;
}

.line2, .line4{
	background-color: #aaa;
	color: #fff;
}

.line1, .line3{
	background-color: #fff;
	color: #666;
}


.dropbtn {
    background-color: #444;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	 width: 100%;
}


.dropdown {
    position: relative;
    display: inline-block;
	 width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	 width: 50%;
	 margin: 0% 25%;
	 text-align: center;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	 background-color: #aaa;
}

.dropdown-content a:hover {background-color: #666}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #666;
}


.small-image{
	width:100px;
	height: 100px;
}

#allStops ul {
	list-style: none;
	width: 80%;
	margin: auto;
	padding: 10px;
	font-size: 22px;
	font-family: monospace;
	
}

figcaption{
	color: #000;
}
span{
	font-size: 20px;
}

.red{
	color: #CE5A57;
}

@media (max-width: 1000px)
{
	header{
		font-size: 20px;
	}
	
	.info{
		visibility: hidden;
	}
	
	.dropdown-content{
		margin: 0;
		width:  100%;
	}
	
}